[submodule "vim/.vim/plugged/wal.vim"]
	path = vim/.vim/plugged/wal.vim
	url = https://github.com/dylanaraps/wal.vim
[submodule "vim/.vim/plugged/vim-airline"]
	path = vim/.vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/plugged/nerdtree"]
	path = vim/.vim/plugged/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/.vim/plugged/vim-fugitive"]
	path = vim/.vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/plugged/vimtex"]
	path = vim/.vim/plugged/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim/.vim/plugged/vim-surround"]
	path = vim/.vim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround
